# 15 ta BASIC SQL Querylar

# Barcha foydalanuvchilarni chiqarish

In [ ]:
SELECT * 
FROM users;

# Foydalanuvchilarning faqat ismlarini chiqarish

SELECT
name
FROM users;

# Barcha unikal shaharlar ro‘yxatini olish

In [ ]:
SELECT DISTINCT
city
FROM users;

# 30 yoshdan katta foydalanuvchilar

SELECT * 
FROM users
WHERE age > 30;

# 'Tashkent' shahridagi foydalanuvchilar

In [ ]:
SELECT *
FROM users
WHERE city = 'Tashkent';

# Har bir bo‘limdagi xodimlar soni

In [ ]:
SELECT
department,
COUNT(*)
FROM employees
GROUP BY department;

# Faqat soni 5 dan ortiq bo‘lgan bo‘limlar

In [ ]:
SELECT
department,
COUNT(*)
FROM employees
GROUP BY department
HAVING COUNT(*) > 5;

#  Eng katta maosh bilan xodimlarni saralash

In [ ]:
SELECT *
FROM employees
ORDER BY salary DESC;

# Barcha unikal rollarni chiqarish

In [ ]:
SELECT DISTINCT role 
FROM users;

#  Foydalanuvchilar sonini hisoblash

In [ ]:
SELECT
COUNT(*)
FROM users;

# Ismi "A" harfi bilan boshlanadiganlar

In [ ]:
SELECT *
FROM users
WHERE name LIKE 'A%';

# 2024 yilda berilgan buyurtmalar

In [ ]:
SELECT * 
FROM orders
WHERE YEAR(order_date) = 2024;

# 20 yoshdan 30 yoshgacha bo‘lganlar

In [ ]:
SELECT *
FROM users
WHERE age BETWEEN 20 AND 30;

#  `admin` yoki `editor` roliga ega foydalanuvchilar

In [ ]:
SELECT *
FROM users
WHERE role IN ('admin', 'editor');

# Har bir shahardan eng ko‘p foydalanuvchi

In [ ]:
SELECT city,
COUNT(*) 
FROM users 
GROUP BY city
ORDER BY COUNT(*) DESC;

# INTERMEDIATE darajadagi 15 ta SQL Query

# Foydalanuvchilar soni bo‘yicha TOP 5 shahar

In [ ]:
SELECT city,
COUNT(*) AS user_count
FROM users
GROUP BY city
ORDER BY user_count DESC
LIMIT 5;

#  Har bir mahsulotdan nechta sotilganini ko‘rsatish

In [ ]:
SELECT
product_id,
SUM(quantity) AS total_sold
FROM sales
GROUP BY product_id;

# Faqat umumiy savdosi 100 dan oshgan mahsulotlar

In [ ]:
SELECT product_id, SUM(quantity) AS total_sold
FROM sales
GROUP BY product_id
HAVING SUM(quantity) > 100;

# Har bir xodimning oylik + bonus to‘lovlari

In [ ]:
SELECT
name,
salary,
bonus, 
(salary + bonus) AS total_income
FROM employees;

# Har bir yilda nechta buyurtma berilgan

In [ ]:
SELECT YEAR(order_date) AS year,
COUNT(*) AS total_orders
FROM orders
GROUP BY year;

#  Faqat email ko‘rsatilgan foydalanuvchilar

In [ ]:
SELECT * 
FROM users 
WHERE email IS NOT NULL;

# Barcha mijozlarning ism familiyasini birlashtirib ko‘rsatish

In [ ]:
SELECT 
CONCAT(first_name, ' ', last_name) AS full_name
FROM customers;

# Har bir mahsulotning narxi va narx bo‘yicha saralash

In [ ]:
SELECT
name,
price 
FROM products
ORDER BY price DESC;

# Har bir `role` bo‘yicha o‘rtacha yosh

In [ ]:
SELECT role,
AVG(age) AS avg_age
FROM users
GROUP BY role;

# Xodimlar bo‘limi va eng katta maosh

In [ ]:
SELECT department,
MAX(salary) AS max_salary
FROM employees
GROUP BY department;

#  Xodimlar orasida bonus olganlar (bonus > 0)

In [ ]:
SELECT *
FROM employees
WHERE bonus > 0;

# Faqat bitta marta buyurtma bergan mijozlar

In [ ]:
SELECT
customer_id
FROM orders
GROUP BY customer_id
HAVING COUNT(*) = 1;

# Mahsulotlar va ularning narxi + chegirmasi

In [ ]:
SELECT
name,
price,
discount,
(price - discount) AS final_price
FROM products;

# Eng qadimgi 10 ta foydalanuvchini ko‘rsatish

In [ ]:
SELECT *
FROM users
ORDER BY created_at ASC LIMIT 10;

#  Ma'lumotlar bazasini tanlash va so‘rov qilish

In [ ]:
USE shop_db;
SELECT *
FROM products
WHERE stock > 0;